/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
  text-transform: capitalize; }

body {
  margin: 0;
  padding: 0;
  color: #212529;
  line-height: 1.3;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'poppins', sans-serif;
  color: #444444;
  font-weight: 400;
  font-size: 38px; }

p {
  font-size: 15px;
  font-weight: 400;
  color: #939292;
  line-height: 1.8;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase; }

img {
  width: 100%;
  height: auto; }

ul {
  margin: 0; }

span,
a,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

.section-padding {
  padding: 100px 0 100px 0px; }

.section-head {
  margin-bottom: 70px; }
  .section-head h2 {
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 18px;
    margin-bottom: 15px;
    position: relative;
    letter-spacing: 1px; }
    .section-head h2::before {
      content: '';
      width: 50px;
      height: 3px;
      background-color: #D9832E;
      position: absolute;
      bottom: 0;
      left: calc(50% - 25px);
      border-radius: 2px; }
    .section-head h2 .text-left::after {
      left: 15px; }
    .section-head h2 .text-left::after {
      left: 15px; }
    .section-head h2 span {
      font-weight: 400; }
  .section-head p {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    width: 50%;
    margin-right: auto;
    margin-left: auto; }

.round {
  border-radius: 50%/50px;
  -webkit-border-radius: 50%/50px;
  -moz-border-radius: 50%/50px;
  -o-border-radius: 50%/50px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden; }

.bg-gray {
  background: #f6f7f7; }

.o-hidden {
  overflow: hidden; }

.ontop {
  position: relative;
  z-index: 4; }

.position-re {
  position: relative; }

.full-width {
  width: 100% !important; }

.lg-line-height {
  line-height: 1.5; }

.valign {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

.overlay {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .6;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

<<<<<<< HEAD
/*-----------------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 02 Start Navbar ]
-----------------------------------------------------------------*/
.navbar {
  max-height: 80px;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
  transition: all .6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out; }
  .navbar.nav-scroll {
    background-color: #fff;
    color: black;
    padding: 10px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.08) 10px 10px 30px;
    -moz-box-shadow: rgba(0, 0, 0, 0.08) 10px 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.08) 10px 10px 30px; }
  .navbar .navbar-brand {
    font-size: 30px;
    color: #D9832E;
    font-weight: bold; }
  .navbar .toggler-custom {
    cursor: pointer; }
    .navbar .toggler-custom span {
      color: #fff; }
  .navbar .navbar-nav .nav-link {
    color: #FFF;
    padding-right: 8px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; }
    .navbar .navbar-nav .nav-link.active {
      color: #D9832E !important; }

/*-----------------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 03 Start header ]
-----------------------------------------------------------------*/
.header {
  background: url("../img/Header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .header .svg {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    fill: #fff;
    z-index: 2; }
  .header .content {
    z-index: 2;
    width: 100%;
    text-align: center;
    /* xclip */ }
    .header .content .cd-words-wrapper {
      display: inline-block;
      position: relative;
      text-align: left; }
    .header .content .cd-words-wrapper b {
      display: inline-block;
      position: absolute;
      white-space: nowrap;
      left: 0;
      top: 0; }
    .header .content .cd-words-wrapper b.is-visible {
      position: relative; }
    .header .content .no-js .cd-words-wrapper b {
      opacity: 0; }
    .header .content .no-js .cd-words-wrapper b.is-visible {
      opacity: 1; }
    .header .content .cd-headline.clip span {
      display: inline-block;
      padding: .2em 0; }
    .header .content .cd-headline.clip .cd-words-wrapper {
      overflow: hidden;
      vertical-align: top; }
    .header .content .cd-headline.clip .cd-words-wrapper::after {
      /* line */
      content: '';
      position: absolute;
      top: 10%;
      right: 0;
      width: 2px;
      height: 70%;
      background-color: #aebcb9; }
    .header .content .cd-headline.clip b {
      opacity: 0; }
    .header .content .cd-headline b.is-visible {
      opacity: 1;
      font-weight: 900; }
    .header .content h1 {
      font-size: 55px;
      font-weight: bold;
      color: #FFF;
      margin-bottom: 24px; }
      .header .content h1 .Me {
        color: #D9832E !important; }
    .header .content P {
      color: rgba(255, 255, 255, 0.75);
      margin: 0 auto 32px auto;
      max-width: 472px; }
    .header .content a {
      border: 2px solid #fff;
      padding: 20px 40px;
      border-radius: 30px;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      position: relative;
      overflow: hidden; }
      .header .content a:hover {
        color: #000; }
        .header .content a:hover:after {
          height: 180%;
          -webkit-box-shadow: #fff 2px 2px 30px;
          -moz-box-shadow: #fff 2px 2px 30px;
          box-shadow: #fff 2px 2px 30px; }
      .header .content a:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 0%;
        width: 100%;
        background: #fff;
        transition: all .6s ease-in-out;
        border-radius: 0 0 50% 50%; }
  .header .btn {
    width: 28px;
    height: 44px;
    border: 2px solid #fff;
    border-radius: 30px;
    display: block;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    bottom: 5.5%; }
    .header .btn span {
      position: absolute;
      top: 22px;
      left: 11px;
      background: #fff;
      height: 10px;
      width: 3px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -o-border-radius: 2px;
      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
      transform-origin: center bottom;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      animation-iteration-count: infinite; }
@-webkit-keyframes bounce {
  0%,
				20%,
				53%,
				80%,
				100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
				43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
  0%,
				20%,
				53%,
				80%,
				100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
				43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
/*-----------------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 04 Start about me ]
-----------------------------------------------------------------*/
.About-me .About-left .image {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 520px; }
.About-me .About-right {
  /****start skills*****/ }
  .About-me .About-right h2 {
    margin-bottom: 24px;
    font-weight: 600; }
  .About-me .About-right h3 {
    margin-bottom: 24px;
    font-size: 24px;
    color: #D9832E;
    font-weight: 500; }
  .About-me .About-right p {
    margin-bottom: 16px; }
  .About-me .About-right .skills {
    margin-top: 32px; }
    .About-me .About-right .skills .skill-item {
      margin-bottom: 24px; }
      .About-me .About-right .skills .skill-item h4 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px; }
      .About-me .About-right .skills .skill-item .skill-progress {
        width: 100%;
        height: 5px;
        background: #f7f7f7;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        position: relative;
        transition: all 1s; }
        .About-me .About-right .skills .skill-item .skill-progress .progres {
          position: absolute;
          height: 5px;
          width: 10%;
          left: 0;
          top: 0;
          background: #D9832E;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -o-border-radius: 20px;
          transition: all 1s; }
          .About-me .About-right .skills .skill-item .skill-progress .progres::before {
            content: attr(data-value);
            padding: 3px 10px 2px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -o-border-radius: 10px;
            font-size: 10px;
            color: #fff;
            background: #D9832E;
            position: absolute;
            top: -35px;
            right: 0;
            font-weight: 500; }
          .About-me .About-right .skills .skill-item .skill-progress .progres::after {
            content: "";
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 5px solid #D9832E;
            position: absolute;
            top: -12px;
            right: 15px; }

/*-----------------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 05 Start my services ]
-----------------------------------------------------------------*/
.My-services .items {
  height: auto; }
  .My-services .items .box-item {
    padding: 40px 20px;
    background: #fff;
    display: block;
    transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 30px;
    -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 30px;
    position: relative; }
    .My-services .items .box-item:hover {
      -webkit-box-shadow: rgba(0, 0, 0, 0.227) 0px 10px 30px;
      -moz-box-shadow: rgba(0, 0, 0, 0.227) 0px 10px 30px;
      box-shadow: rgba(0, 0, 0, 0.227) 0px 10px 30px; }
    .My-services .items .box-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 0%;
      transition: all ease-in-out .3s;
      -webkit-transition: all ease-in-out .3s;
      -moz-transition: all ease-in-out .3s;
      -o-transition: all ease-in-out .3s;
      border-top: 4px solid #D9832E; }
    .My-services .items .box-item:hover::after {
      left: 0%;
      width: 100%; }
    .My-services .items .box-item span {
      font-size: 50px;
      color: #D9832E;
      margin-bottom: 24px; }
    .My-services .items .box-item h3 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 24px; }

/*-----------------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 06 Start my portfolio ]
-----------------------------------------------------------------*/
.My-portfolio {
  overflow: hidden;
  /*start heading and filter*/
  /*start image*/ }
  .My-portfolio ul {
    margin-bottom: 32px; }
    .My-portfolio ul li {
      display: inline-block;
      padding: 8px 16px;
      border-radius: 30px;
      margin-left: 20px;
      text-transform: uppercase;
      color: #333333;
      font-size: 14px;
      font-weight: 600;
      transition: all ease-in-out .2s;
      -webkit-transition: all ease-in-out .3s;
      -moz-transition: all ease-in-out .3s;
      -o-transition: all ease-in-out .3s;
      cursor: pointer; }
      .My-portfolio ul li.active {
        background-color: #D9832E;
        color: #fff; }
  .My-portfolio .item {
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    height: 350px; }
    .My-portfolio .item .bg1 {
      background: url("../img/portfolio1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      transition: all ease-in-out .4s;
      -webkit-transition: all ease-in-out .4s;
      -moz-transition: all ease-in-out .4s;
      -o-transition: all ease-in-out .4s;
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1); }
    .My-portfolio .item .bg2 {
      background: url("../img/portfolio2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      transition: all ease-in-out .4s;
      -webkit-transition: all ease-in-out .4s;
      -moz-transition: all ease-in-out .4s;
      -o-transition: all ease-in-out .4s;
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1); }
    .My-portfolio .item .bg3 {
      background: url("../img/portfolio3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      transition: all ease-in-out .4s;
      -webkit-transition: all ease-in-out .4s;
      -moz-transition: all ease-in-out .4s;
      -o-transition: all ease-in-out .4s;
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1); }
    .My-portfolio .item .bg4 {
      background: url("../img/portfolio4.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      transition: all ease-in-out .4s;
      -webkit-transition: all ease-in-out .4s;
      -moz-transition: all ease-in-out .4s;
      -o-transition: all ease-in-out .4s;
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1); }
    .My-portfolio .item .bg5 {
      background: url("../img/portfolio5.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      transition: all ease-in-out .4s;
      -webkit-transition: all ease-in-out .4s;
      -moz-transition: all ease-in-out .4s;
      -o-transition: all ease-in-out .4s;
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1); }
    .My-portfolio .item .bg6 {
      background: url("../img/portfolio6.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      transition: all ease-in-out .4s;
      -webkit-transition: all ease-in-out .4s;
      -moz-transition: all ease-in-out .4s;
      -o-transition: all ease-in-out .4s;
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1); }
    .My-portfolio .item .item-img {
      position: relative;
      border-radius: 5px;
      height: 100%;
      cursor: pointer; }
      .My-portfolio .item .item-img:hover {
        transform: scale(1.03, 1.03);
        -webkit-transform: scale(1.03, 1.03);
        -moz-transform: scale(1.03, 1.03);
        -o-transform: scale(1.03, 1.03); }
      .My-portfolio .item .item-img .item-img-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        transition: all ease-in-out .4s;
        -webkit-transition: all ease-in-out .4s;
        -moz-transition: all ease-in-out .4s;
        -o-transition: all ease-in-out .4s;
        background: #000;
        opacity: 0; }
        .My-portfolio .item .item-img .item-img-overlay:hover {
          opacity: .8; }
          .My-portfolio .item .item-img .item-img-overlay:hover .des {
            transform: translateY(-70%);
            -webkit-transform: translateY(-70%);
            -moz-transform: translateY(-70%);
            -o-transform: translateY(-70%); }
        .My-portfolio .item .item-img .item-img-overlay .des {
          position: absolute;
          bottom: 0;
          text-align: left;
          left: 10%;
          width: 100%;
          transition: all .4s ease-in-out;
          -webkit-transition: all ease-in-out .4s;
          -moz-transition: all ease-in-out .4s;
          -o-transition: all ease-in-out .4s; }
          .My-portfolio .item .item-img .item-img-overlay .des p {
            font-size: 16px;
            text-transform: capitalize;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 8px; }
          .My-portfolio .item .item-img .item-img-overlay .des h6 {
            font-size: 17px;
            color: #fff;
            text-transform: capitalize;
            font-weight: 400; }

body .mfp-bg {
  height: 100vh;
  z-index: 20; }
  body .mfp-bg .mfp-container {
    z-index: 21; }
    body .mfp-bg .mfp-container .mfp-content .mfp-img {
      width: 500px !important;
      height: 500px !important; }
    body .mfp-bg .mfp-container .mfp-content .mfp-figure button {
      color: #fff !important;
      font-size: 40px; }

/*-----------------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 07 Start my services ]
-----------------------------------------------------------------*/
.Testimonials .clients span {
  font-size: 50px;
  color: #D9832E;
  margin-bottom: 24px;
  display: block;
  font-weight: 100; }
.Testimonials .clients img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 24px;
  padding: 3px;
  border: 1px solid #ddd;
  display: inline-block; }
.Testimonials .clients p {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 24px; }
.Testimonials .clients h6 {
  font-size: 16px;
  font-weight: 500;
  display: inline; }
.Testimonials .owl-dots {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 24px; }
  .Testimonials .owl-dots .owl-dot {
    width: 12px;
    height: 6px;
    margin-left: 10px;
    background-color: #D9832E;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s; }
    .Testimonials .owl-dots .owl-dot.active {
      width: 26px; }

/*-----------------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 08 Start  blog]
-----------------------------------------------------------------*/
.Blog .items .item-box {
  padding: 6px;
  background: #F8F9FA;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px; }
  .Blog .items .item-box .image1 {
    background: url("../img/blog1.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 220px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px; }
  .Blog .items .item-box .image2 {
    background: url("../img/blog2.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 220px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px; }
  .Blog .items .item-box .image3 {
    background: url("../img/blog3.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 220px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px; }
  .Blog .items .item-box .info {
    padding-bottom: 16px;
    padding-top: 16px; }
    .Blog .items .item-box .info a {
      font-size: 20px;
      text-align: left;
      margin-bottom: 16px;
      color: #444444; }
      .Blog .items .item-box .info a:nth-of-type(2) {
        font-size: 16px;
        margin: 0;
        color: #6c756d;
        transition: all .2s ease-in-out;
        -webkit-transition: all ease-in-out .2s;
        -moz-transition: all ease-in-out .2s;
        -o-transition: all ease-in-out .2s; }
        .Blog .items .item-box .info a:nth-of-type(2):hover {
          color: #D9832E; }
    .Blog .items .item-box .info p {
      margin-bottom: 16px; }

/*-----------------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 09 Start  contact]
-----------------------------------------------------------------*/
.Contact-me .content h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px; }
.Contact-me .content .item form input,
.Contact-me .content .item form textarea {
  margin-bottom: 24px;
  font-size: 15px; }
.Contact-me .content .item form button {
  padding: 12px 25px;
  color: #fff;
  background: #D9832E;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer; }
.Contact-me .content .item form input:focus {
  box-shadow: #0000003a 0px 0px 10px;
  -webkit-box-shadow: #0000003a 0px 0px 10px;
  -moz-shadow: #0000003a 0px 0px 10px;
  -o-shadow: #0000003a 0px 0px 10px;
  border: 1px solid #ced4da; }
.Contact-me .content .item form textarea:focus {
  box-shadow: #0000003a 0px 0px 10px;
  -webkit-box-shadow: #0000003a 0px 0px 10px;
  -moz-shadow: #0000003a 0px 0px 10px;
  -o-shadow: #0000003a 0px 0px 10px;
  border: 1px solid #ced4da; }
.Contact-me .content .info p {
  text-transform: capitalize;
  margin-bottom: 24px; }
.Contact-me .content .info .item {
  display: flex; }
  .Contact-me .content .info .item .icon {
    padding-right: 25px;
    padding-top: 5px; }
    .Contact-me .content .info .item .icon span {
      font-size: 40px;
      color: #D9832E; }
  .Contact-me .content .info .item .text-info {
    padding-left: 25px;
    border-left: 2px solid #D9832E;
    padding-top: 7px;
    padding-bottom: 7px; }
    .Contact-me .content .info .item .text-info h5 {
      font-size: 16px;
      margin-bottom: 2px;
      font-weight: 500;
      color: #444444; }
    .Contact-me .content .info .item .text-info p {
      font-size: 15px;
      margin-bottom: 0; }

/*-----------------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 10 Start footer]
-----------------------------------------------------------------*/
Footer {
  padding: 60px 0;
  background: #212529; }
  Footer span {
    padding-bottom: 24px;
    padding-top: 10px; }
    Footer span i {
      font-size: 20px;
      border: 2px solid #2D2D2D;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 9px;
      margin-right: 8px;
      color: #8F9091;
      cursor: pointer; }
  Footer p {
    color: #8F9091;
    letter-spacing: 1px;
    text-transform: capitalize; }

/* ----------------------------------------------------------------
     [ 11 Start options]
-----------------------------------------------------------------*/
.options-button {
  position: fixed;
  left: 0;
  top: 17%;
  width: 40px;
  height: 40px;
  background-color: #000;
=======
.section-head {
  margin-bottom: 80px;
  padding-bottom: 30px;
  position: relative;
}
.section-head:after {
  content: '';
  width: 200px;
  height: 1px;
  background-color: rgba(200, 200, 200, 0.2);
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
}
.section-head:before {
  content: '';
  width: 50px;
  height: 5px;
  background-color: #FFB600;
  position: absolute;
  bottom: -2px;
  left: calc(50% - 25px);
  border-radius: 2px;
}
.section-head.text-left:after, .section-head.text-left:before {
  left: 15px;
}
.section-head h6 {
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #777;
  margin-bottom: 5px;
}
.section-head h4 {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-head p {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
}

.round {
  border-radius: 50%/50px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.bg-gray {
  background: #f6f7f7;
}

.o-hidden {
  overflow: hidden;
}

.ontop {
  position: relative;
  z-index: 4;
}

.position-re {
  position: relative;
}

.full-width {
  width: 100% !important;
}

.lg-line-height {
  line-height: 1.5;
}
.valign {
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> bca11e94efd3e4e58bfd7ccc59dbb4d52250c6f1
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
<<<<<<< HEAD
  cursor: pointer;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 1000000;
  color: #fff; }
  .options-button.BtnState {
    left: 150px; }
  .options-button span {
    color: #fff;
    -webkit-animation: rotate 1s infinite;
    -moz-animation: rotate 1s infinite;
    -ms-animation: rotate 1s infinite;
    animation: rotate 1s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear; }
@keyframes rotate {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
.options {
  width: 150px;
  height: 180px;
  position: fixed;
  top: 17%;
  left: -150px;
  padding: 30px 0;
  background-color: #FFF;
  text-align: center;
  box-shadow: #0000003a 0px 10px 30px;
  -webkit-box-shadow: #0000003a 0px 10px 30px;
  -moz-shadow: #0000003a 0px 10px 30px;
  -o-shadow: #0000003a 0px 10px 30px;
  z-index: 100000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; }
  .options.state {
    left: 0px; }
  .options h3 {
    color: #000;
    font-size: 20px; }
  .options ul {
    margin: 10px 0px;
    padding: 0px 10px; }
    .options ul li {
      float: left; }
      .options ul li a {
        margin-left: 10px;
        margin-top: 10px; }
        .options ul li a .Orange {
          background-color: #D9832E;
          width: 25px;
          height: 25px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -o-border-radius: 20px;
          cursor: pointer; }
        .options ul li a .Purple {
          background-color: #800080;
          width: 25px;
          height: 25px;
          border-radius: 20px;
          cursor: pointer; }
        .options ul li a .Blue {
          background-color: #0895d1;
          width: 25px;
          height: 25px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -o-border-radius: 20px;
          cursor: pointer; }
        .options ul li a .light-orange {
          background-color: #c49b66;
          width: 25px;
          height: 25px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -o-border-radius: 20px;
          cursor: pointer; }
        .options ul li a .Pink {
          background-color: #f24259;
          width: 25px;
          height: 25px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -o-border-radius: 20px;
          cursor: pointer; }
        .options ul li a .Green {
          background-color: #32CD32;
          width: 25px;
          height: 25px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -o-border-radius: 20px;
          cursor: pointer; }
=======
}

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

>>>>>>> bca11e94efd3e4e58bfd7ccc59dbb4d52250c6f1
